@page "/cube-input"
@using CubeRobot.Models.RubiksCube

<div class="container-fluid">
    <div class="row">

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#configTab" role="tab">Konfiguracja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#uploadTab" role="tab">Zdjęcia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#appTab" role="tab">Aplikacja</a>
            </li>
        </ul>


        <div class="tab-content col-md-9">
            <div id="configTab" class="tab-pane fade show active" role="tabpanel">
                <div class="form-group mt-2">
                    <label for="currentConfig">Układ kostki</label>
                    <textarea id="currentConfig" class="form-control" style="resize:none;font-family:monospace">@_cubeConfigString</textarea>
                </div>
            </div>
            <div id="uploadTab" class="tab-pane fade" role="tabpanel">
                <ImageUpload />
            </div>
            <div id="appTab" class="tab-pane fade" role="tabpanel">
                <ImageUpload />
            </div>
        </div>
        <div class="card col-md-3">
            <div class="card-body">
                <CubePreview Cube="_cube" />
            </div>
        </div>

    </div>
</div>

@code
{
    private Cube _cube = new(3, false);

    private string _cubeConfigString = string.Empty;

    protected override void OnInitialized()
    {
        _cubeConfigString = _cube.ToString();
    }
}