@using BlazorSortableList
@using CubeRobot.App.Components.Pages.CubeInput.ImageDrop
@using CubeRobot.Models.RubiksCube

@* Upload button *@
<label for="filePicker" class="btn btn-primary mt-2">
    <span class="title">Prześlij obrazy</span>
    <InputFile id="filePicker" OnChange="UploadFiles" multiple accept="image/*" class="invisible" style="width:0px;"></InputFile>
</label>
    
<div class="row-parent">
    <SortableList Id="@_cubeFaceImageGroup.UploadListId" GroupModel="_cubeFaceImageGroup" T="ImageFile" Style="min-height:100px; background-color:lightgray; border-radius:5px; overflow:hidden;">
        <SortableItemTemplate>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header">
                        @context.FileName
                        <button @onclick="() => RemoveImage(context)" class="btn-close position-absolute end-0" style="top:8px !important;"></button>
                    </div>
                    <img src="@context.Preview" class="card-img-bottom" alt="@context.FileName" />
                </div>
            </div>
        </SortableItemTemplate>
    </SortableList>
</div>

<div class="row mt-2">
    <div class="col-md-8">
        <ImageDropCubeNet Group="_cubeFaceImageGroup"  />
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary" @onclick="Analyze">Analizuj obrazy</button>
        <button class="btn btn-secondary mt-1" @onclick="GoToSettings">Ustawienia analizy</button>
    </div>
</div>

@code
{
    private const int MaxFileNameLength = 12;
    private const int MaxFileCount = 12;

    [Inject]
    private IJSRuntime JSRuntime { get; set; } = null!;
    [Inject]
    public NavigationManager Navigation { get; set; } = null!;
    [Inject]
    public IPhotoAnalyzerService PhotoAnalyzerService { get; set; } = null!;

    [Parameter]
    public EventCallback<string> OnCubeConfigurationChanged{ get; set; }

    [CascadingParameter]
    private IErrorDisplay ErrorDisplay { get; set; } = null!;

    private CubeSortableListGroup _cubeFaceImageGroup = null!;

    private List<ImageFile> _uploadedImages = [];

    protected override void OnInitialized()
    {
        _cubeFaceImageGroup = new(() => StateHasChanged(), _uploadedImages);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("replaceParentPlaceholderContainer", "row-parent", "row mx-0 mt-2 p-1");
        }
    }

    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        try
        {
            foreach (IBrowserFile file in e.GetMultipleFiles(MaxFileCount))
            {
                if (_uploadedImages.Count >= MaxFileCount)
                {
                    ErrorDisplay.AddErrors($"Can't upload more than {MaxFileCount} files");
                    return;
                }
                if (!file.ContentType.StartsWith("image"))
                {
                    ErrorDisplay.AddErrors($"Unsupported file type: {file.ContentType}");
                    return;
                }

                (string dataId, byte[] rawData) = await LoadImagePreview(file);
                ImageFile image = new(ShortenFileName(file.Name), dataId, rawData);
                _uploadedImages.Add(image);
            }
        }
        catch (InvalidOperationException)
        {
            ErrorDisplay.AddErrors($"Can't upload more than {MaxFileCount} files");
        }
        catch (IOException ex)
        {
            ErrorDisplay.AddErrors($"Cannot upload file ({ex.Message})");
        }

    }

    private string ShortenFileName(string fileName)
    {
        string nameWithoutExtension = fileName.Split('.')[0];
        return nameWithoutExtension[0..Math.Min(nameWithoutExtension.Length, MaxFileNameLength)];
    }

    private async Task<(string dataId, byte[] rawData)> LoadImagePreview(IBrowserFile file)
    {
        byte[] buffer = new byte[file.Size];
        await file.OpenReadStream(maxAllowedSize: 16 * 1024 * 1024).ReadAsync(buffer);   // Allow 16MB files

        return ($"data:{file.ContentType};base64,", buffer);
    }

    private void RemoveImage(ImageFile image)
    {
        _uploadedImages.Remove(image);
    }

    private void ShowUploadDialog()
    {

    }

    private async Task Analyze()
    {
        try
        {
            var imageDataNet = _cubeFaceImageGroup.GetCubeNetImageData();

            CubeBuilder cubeBuilder = new(3);
            foreach (CubeFace face in (CubeFace[])Enum.GetValues<CubeFace>())
            {
                if (imageDataNet[face] is null)
                {
                    cubeBuilder.SetFace(face, null);
                    continue;
                }

                CubeFaceColor[,] faceColors = PhotoAnalyzerService.ExtractColorsFromImage(imageDataNet[face]!.RawData);
                cubeBuilder.SetFace(face, faceColors);
            }

            await OnCubeConfigurationChanged.InvokeAsync(cubeBuilder.Build().ToString());
        }
        catch(Exception ex)
        {
            ErrorDisplay.AddErrors(ex.Message);
        }
    }

    private void GoToSettings()
    {
        Navigation.NavigateTo("/cube-input/settings");
    }
}