@using CubeRobot.App.Components.Common

@inherits LayoutComponentBase
@implements IErrorDisplay

<div class="page">
    <main>
        <article style="padding:0 !important;">
            <CascadingValue Value="this" TValue="IErrorDisplay">
                @Body
            </CascadingValue>
        </article>
        <!-- Error Display Section -->
        <div class="container-fluid">
            <div class="col-md-12">
                @foreach ((Guid errorId, string error) in _errors)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @error
                        <button @onclick="() => DismissError(errorId)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            </div>
        </div>
    </main>
</div>

@code
{
    private Dictionary<Guid, string> _errors = [];

    public void AddError(string error, Guid? errorId = null)
    {
        errorId ??= Guid.NewGuid();

        _errors.Add(errorId.Value, error);
        StateHasChanged();
    }

    public void ClearError(Guid errorId) => DismissError(errorId);


    private void DismissError(Guid errorId)
    {
        _errors.Remove(errorId);
        StateHasChanged();
    }
}