@using CubeRobot.Models.RubiksCube

<div class="face" style="--sticker-col-count:@Stickers.GetLength(0); --sticker-size:@(StickerSize)px;">
    @for (int y = 0; y < Stickers.GetLength(0); y++)
    {
        @for (int x = 0; x < Stickers.GetLength(1); x++)
        {
            <div class="sticker @StickerColorClass(Stickers[y,x])"/>
        }
    }
</div>

@code 
{
    [Parameter]
    public CubeFaceColor[,] Stickers { get; set; } = null!;

    [Parameter]
    public int StickerSize { get; set; } = 20;

    private string StickerColorClass(CubeFaceColor color)
    {
        return color switch
        {
            CubeFaceColor.None => "sticker-gray",
            CubeFaceColor.White => "sticker-white",
            CubeFaceColor.Orange => "sticker-orange",
            CubeFaceColor.Green => "sticker-green",
            CubeFaceColor.Yellow => "sticker-yellow",
            CubeFaceColor.Red => "sticker-red",
            CubeFaceColor.Blue => "sticker-blue",
            _ => "table-danger"
        };
    }
}