.scene {
    --face-size: calc(var(--sticker-size) * 3);
    --half-face-size: calc(var(--face-size) * 0.5);
    overflow: hidden;
}

.cube {
    position: relative;
    margin-top: var(--half-face-size);
    margin-bottom: var(--half-face-size);
    transform-style: preserve-3d;
    height: var(--face-size);
    width: var(--face-size);
    transform: rotateX(var(--vertical-rotation)) rotateY(var(--horizontal-rotation));
    transition: transform 0.5s;
}

    .cube div {
        position: absolute;
    }

.cube-up {
    transform: rotateX(90deg) translateZ(var(--half-face-size));
}

.cube-left {
    transform: rotateY(-90deg) translateZ(var(--half-face-size));
}

.cube-front {
    transform: rotateY(0deg) translateZ(var(--half-face-size));
}

.cube-right {
    transform: rotateY(90deg) translateZ(var(--half-face-size));
}

.cube-down {
    transform: rotateX(-90deg) translateZ(var(--half-face-size));
}

.cube-back {
    transform: rotateY(180deg) translateZ(var(--half-face-size));
}

.horizontal-slider {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.vertical-slider {
    position: absolute;
    right: 10px;
    writing-mode: vertical-lr;
    direction:rtl;
    height: 80%;
}
