<nav class="navbar navbar-expand p-2 navbar-dark bg-primary">
    @if(OnBackClicked.HasDelegate)
    {
        <button class="btn btn-outline-light me-2" @onclick="() => OnBackClicked.InvokeAsync()">Wróć</button>
    }
    <span class="navbar-brand">Robot Cube Solver Control Panel</span>
    <div class="ms-auto">
        <ul class="navbar-nav">
            @foreach((string title, string link) button in Buttons)
            {
                <li class="nav-item">
                    <a class="btn btn-outline-light" href="@button.link">@button.title</a>
                </li>
            }
        </ul>
    </div>
</nav>

@code 
{
    [Parameter, EditorRequired]
    public string Title { get; set; } = null!;
    [Parameter]
    public EventCallback OnBackClicked { get; set; }
    [Parameter]
    public List<(string title, string link)> Buttons { get; set; } = [];
}
