.scene {
    --face-size: calc(var(--sticker-size) * 3);
    --half-face-size: calc(var(--face-size) * 0.5);
    padding-top: var(--half-face-size);
    padding-bottom: var(--half-face-size);
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    height: var(--face-size);
    width: var(--face-size);
    transform: translateZ(-100px);
    animation: rotate 3s linear infinite;
}

    .cube div {
        position: absolute;
    }

@keyframes rotate {
    from {
        transform: rotateY(0) rotateX(0);
    }

    to {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

.cube-up {
    transform: rotateX( 90deg) translateZ(var(--half-face-size));
}

.cube-left {
    transform: rotateY(-90deg) translateZ(var(--half-face-size));
}

.cube-front {
    transform: rotateY( 0deg) translateZ(var(--half-face-size));
}

.cube-right {
    transform: rotateY( 90deg) translateZ(var(--half-face-size));
}

.cube-down {
    transform: rotateX(-90deg) translateZ(var(--half-face-size));
}

.cube-back {
    transform: rotateY(180deg) translateZ(var(--half-face-size));
}