@using CubeRobot.App.Components.Common
@inherits LayoutComponentBase
@implements IErrorDisplay

<div class="page">
    <main>
        <article style="padding:0 !important;">
            <CascadingValue Value="this" TValue="IErrorDisplay">
                @Body
            </CascadingValue>
        </article>
        <!-- Error Display Section -->
        <div class="container-fluid">
            <div class="col-md-12">
                @foreach(string error in _errors)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @error
                        <button @onclick="() => DismissError(error)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            </div>
        </div>
    </main>
</div>

@code
{
    private List<string> _errors = [];

    public void AddErrors(params string[] errors)
    {
        _errors.AddRange(errors);
        StateHasChanged();
    }

    private void DismissError(string error)
    {
        _errors.Remove(error);
    }
}